## Instalando o YFinance

In [1]:
!pip install yfinance --upgrade --no-cache-dir

Requirement already satisfied: yfinance in c:\users\usuario\anaconda3\lib\site-packages (0.2.28)
Requirement already satisfied: pandas>=1.3.0 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\usuario\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\usuario\appdata\roaming\python\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\usuario\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\appdata\roaming\python\python311\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

## Importando Bibliotecas

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader.data as web

## Importando o YFinance e sobrescrevendo os m√©todos do pandas_datareader

In [3]:
import yfinance as yf
yf.pdr_override()

## Obtendo os dados do mercado

* Importando Indices

In [10]:
ibov = web.get_data_yahoo('^BVSP')

[*********************100%%**********************]  1 of 1 completed

In [11]:
ibov.head()

                 Open       High        Low      Close  Adj Close  Volume
Date
1993-04-27  24.799999  25.400000  24.500000  24.500000  24.500000       0
1993-04-28  24.500000  24.600000  23.700001  24.299999  24.299999       0
1993-04-29  24.299999  24.799999  23.700001  23.700001  23.700001       0
1993-04-30  23.700001  24.200001  23.700001  24.100000  24.100000       0
1993-05-03  24.100000  24.400000  23.799999  24.100000  24.100000       0

In [12]:
display(ibov)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-04-27,24.799999,25.400000,24.500000,24.500000,24.500000,0
1993-04-28,24.500000,24.600000,23.700001,24.299999,24.299999,0
1993-04-29,24.299999,24.799999,23.700001,23.700001,23.700001,0
1993-04-30,23.700001,24.200001,23.700001,24.100000,24.100000,0
1993-05-03,24.100000,24.400000,23.799999,24.100000,24.100000,0
...,...,...,...,...,...,...
2023-08-09,119090.000000,119090.000000,117901.000000,118409.000000,118409.000000,11245600
2023-08-10,118412.000000,119438.000000,118113.000000,118350.000000,118350.000000,12689600
2023-08-11,118350.000000,119054.000000,117415.000000,118065.000000,118065.000000,11867500
2023-08-14,118067.000000,118082.000000,116530.000000,116810.000000,116810.000000,11203500
2023-08-15,116808.906250,117697.250000,116033.148438,116171.421875,116171.421875,0